@model dynamic

<div class="container-sm">
    <form method="post" class="my-5">
        <div class="my-3 text-center">
            <input type="hidden" name="UserName" value="@Model.UserName">
            <label class="form-control-label lead">Önceki Şifrenizi Giriniz</label>
            <input class="form-control" type="text" name="BeforePassword" >
        </div>
        <div class="my-3 text-center">
            <label class="form-control-label lead">Yeni Şifrenizi Giriniz</label>
            <input class="form-control" type="text" name="NextPassword">
        </div>
        <div class="my-3 text-center">
            <label class="form-control-label lead ">Tekrar Şifrenizi Giriniz</label>
            <input class="form-control" type="text" name="ConfirmPassword">
        </div>
        <div class="btn-group-sm d-flex justify-content-center">
            <button asp-action="UpdatePassword" type="submit" class="btn btn-warning">Güncelle</button>
            <a asp-action="Index" class="btn btn-secondary">Ana Sayfaya Geri Dön</a>
            
        </div>
    </form>
</div>