@model EntityPerson

<div class="form-group">
    <div class="d-flex justify-content-center my-3"><h6 class="display-6">Personel Bilgilerini Güncelle</h6></div>
    <div class="container-sm">

        <form method="post" asp-action="Add">
            <div class="my-2">
            <label asp-for="PersonName" class="lead">Personel Adını Güncelle</label>
            <input type="text" asp-for="PersonName" class="form-control">
            </div>

            <div class="my-2">
            <label asp-for="PersonLastName" class="lead">Personel Soyadını Güncelle</label>
            <input type="text" asp-for="PersonLastName" class="form-control">
            </div>

            <div class="my-2">
            <label asp-for="EntitySectionId" class="lead">Personel Bölümünü Güncelle</label>
            <select asp-for="EntitySectionId" class="form-select">
                @foreach(var item in ViewBag.Sections)
                {
                    <option value="@item.EntitySectionId">@item.SectionName</option>
                }
            </select>
            </div>

             <div class="my-3">
            <label class="lead" asp-for="Role">Role Güncelle</label>
            <div>
            <input class="form-check-input" type="radio" value="Doktor" name="Role"> Doktor
            <input class="form-check-input" type="radio" value="Asistan" name="Role"> Asistan
            </div>
            
            </div>
            <div class="d-flex justify-content-center btn-group-sm">
                <button class="btn btn-primary" type="submit">Güncelle</button>
                <a class="btn btn-dark" asp-controller="Home" asp-action="Index">İptal Et</a>
            </div>
            
        </form>
        
    </div>
</div>