<div class="text-black">
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-sm">
    <div class="">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand text-light " style="font-size: 30px;">
        <strong>Kemal Savcı Hastahanesi - Admin Panel</strong></a>
          <a class="text-light m-2">İletişim Alanı Düzenleme Araçları</a>
    </div>
    
        
        
      <div>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Hastane</a>
        <a class="lead text-light btn btn-outline-danger" asp-area="" asp-controller="AccountRegister" asp-action="Logout">Çıkış</a>
      </div>
    
  </div>
</nav>
</div>